@use './colors.scss' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background: $light-bg;
  color: $light-text-2;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.darkmode {
  --background: $dark-bg;
  --text-color: $dark-text-2;
  --text-color2: $dark-text-1;
  --card-bg: $dark-card;
  --card-hover: $dark-card-hover;
  --toggle: $light-bg;
  --toggle-bg: linear-gradient(
    225deg,
    var($toggle-bg-end) 0%,
    var($toggle-bg-start) 98.02%
  );
  --toggle-button: $dark-bg;
}
