:root {
  --ff-primary: "Inter", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  background: hsl(0, 0%, 100%);
  color: hsl(230, 17%, 14%);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 1.75rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  padding: 0 1.5625rem;
  max-width: 69.375rem;
  margin: 0 auto 2.875rem;
}
@media (min-width: 71.875em) {
  .container {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
}
@media (min-width: 40em) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
}
.header__title {
  width: 100%;
}
@media (min-width: 40em) {
  .header__title {
    width: auto;
  }
}
.header__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-neutral-lt-700);
}
.header .bottom-border {
  border: 1px solid var(--clr-neutral-lt-600);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .header .bottom-border {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 71.875em) {
  .header .bottom-border {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.toggle {
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;
}
.toggle label {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--clr-neutral-lt-700);
}
.toggle label[for=dark] {
  line-height: 1.5rem;
  margin-right: 0.8125rem;
}
.toggle__wrapper {
  position: relative;
  height: 1.5rem;
}
.toggle input[type=radio] {
  margin: 0 -0.125rem 0 -0.125rem;
  opacity: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.toggle input[type=radio]:hover {
  background: linear-gradient(225deg, var(--clr-toggle-bg-end) 0%, var(--clr-toggle-bg-start) 98.02%);
}
.toggle input[type=radio]:focus ~ .toggle__btn {
  border: 2px solid white;
}
.toggle__background {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0.75rem;
  /*background: linear-gradient(
    225deg,
    var(--clr-toggle-bg-end) 0%,
    var(--clr-toggle-bg-start) 98.02%
  ); */
  background: var(--clr-light-theme-toggle);
  pointer-events: none;
}
.toggle__btn--dark {
  position: absolute;
  left: 0.1875rem;
  top: 0.1875rem;
  right: 100%;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-lt-100);
  transition: all 200ms ease-in-out;
}
.toggle #light:checked ~ .toggle__btn--dark {
  left: calc(100% - 21px);
  right: 3px;
}
.toggle #system:checked ~ .toggle__btn--dark {
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 71.875em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-color: hsl(227, 47%, 96%);
  color: hsl(0, 0%, 100%);
  padding: 1.5625rem;
  border-radius: 0.75rem;
  text-align: center;
  transition: background 200ms ease-in-out;
  cursor: pointer;
}
.card:hover {
  background: hsl(228, 33%, 91%);
}
.card--facebook {
  border-top: 0.3125rem solid hsl(208, 92%, 53%);
}
.card--twitter {
  border-top: 0.3125rem solid hsl(203, 89%, 53%);
}
.card--instagram {
  padding-top: 1.875rem;
}
.card--instagram::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.3125rem;
  background: linear-gradient(225deg, hsl(329, 70%, 58%), hsl(5, 77%, 71%) 50.9%, hsl(37, 97%, 70%) 100%);
}
.card--youtube {
  border-top: 0.3125rem solid hsl(348, 97%, 39%);
}
.card__platform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  margin-top: 0.3125rem;
  margin-bottom: 1.75rem;
}
.card__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-neutral-lt-700);
}
.card__icon {
  margin-right: 0.5rem;
}
.card__username {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--clr-neutral-lt-700);
}
.card__followers {
  margin-bottom: 1.5625rem;
}
.card__count {
  color: hsl(230, 17%, 14%);
  font-weight: 700;
}
.card__count--big {
  font-size: 3.5rem;
}
.card__count--small {
  font-size: 2rem;
}
.card__label {
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--clr-neutral-lt-700);
  text-transform: uppercase;
}
.card__change {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
}
.card__change--up {
  color: hsl(163, 72%, 41%);
}
.card__change--down {
  color: hsl(356, 69%, 56%);
}
.card__change img {
  margin-right: 0.25rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  gap: 1.4375rem;
}
.card-grid .card__count {
  margin-bottom: 0;
}
.card-grid .card__count,
.card-grid .card__change {
  align-self: end;
}
.card-grid img,
.card-grid .card__change {
  justify-self: end;
}

/*# sourceMappingURL=style.css.map */
