@use '../utility/' as *;
@use '../globals/' as *;

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(36);

  @include breakpoint(medium) {
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--clr-neutral-lt-700);
  }

  .bottom-border {
    border: 1px solid var(--clr-neutral-lt-600);
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      border: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      border: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
