@use '../utility/' as *;
@use '../globals/' as *;

.toggle {
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;

  label {
    font-size: rem(14);
    font-weight: 400;
    color: var(--clr-neutral-lt-700);

    &[for='dark'] {
      line-height: rem(24);
      margin-right: rem(13);
    }
  }

  &__wrapper {
    position: relative;
    height: rem(24);
  }

  input[type='radio'] {
    margin: 0 rem(-2) 0 rem(-2);
    opacity: 0;
    width: rem(24);
    height: rem(24);

    &:focus ~ .toggle__btn {
      border: 2px solid white;
    }
  }

  &__background {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: rem(12);
    background: var(--clr-light-theme-toggle);
    pointer-events: none;
  }

  &__btn--dark {
    position: absolute;
    left: rem(3);
    top: rem(3);
    right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--clr-neutral-lt-100);
    transition: all 200ms ease-in-out;
  }

  #light:checked ~ .toggle__btn--dark {
    left: calc(100% - 21px);
    right: 3px;
  }

  #system:checked ~ .toggle__btn--dark {
    left: 50%;
    right: auto;
    transform: translate(-50%);
  }
}
